<html>
    <head></head>
    <body>
        <h1>Users</h1>
        <% for (var i = 0; i < Users.length; i++) { %>
            <p><%= Users[i].firstName %> <%= Users[i].lastName %></p>
        <% } %>
    </body>
</html>