<html>
    <head>
        
    </head>
    <body>
        <h2>Log in</h2>
        <p class="error"><%= error %></p>
        <p class="success"><%= success %></p>
        <p class="info"><%= info %></p>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" />
            <br />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <br />
            <input type="submit" />
            <input type="reset" />
        </form>
    </body>
</html>