<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main/main.css" />
        <script type="javascript" src="/js/frontend.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <img src="/img/defaultlogo.png" />
        <p>This is just a simple page.</p>
    </body>
</html>