<html>
    <head>
        
    </head>
    <body>
        <h1><%= entry.title %></h1>
        <small><%= entry.date %></small>
        <small><%= entry.slug %></small>
        <p><%= entry.text %></p>
    </body>
</html>