<html>
    <head>
        
    </head>
    <body>
        <h2>Made it to the restricted section!</h2>
        <%= message %>
        <p>More text here.</p>
        <a href="/logout">Click here to log out</a>
    </body>
</html>