<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>This is just a simple page.</p>
    </body>
</html>