<html>
    <head>
        <title>My MadLib Form</title>    
    </head>
    <body>
        <form action="/story" method="get">
            <p>
                <label for="noun1">Noun:</label>
                <!--<input type="text" name="noun1" />-->
                
            </p>
            <p>
                <label for="adjective1">Adjective:</label>
                <input type="text" name="adjective1" />
            </p>
            <p>
                <label for="noun2">Noun:</label>
                <input type="text" name="noun2" />
            </p>
            <p>
                <input type="submit" />
                <input type="reset" />
            </p>
        </form>
    </body>
</html>