<html>
    <head>
        <title>My MadLib Form</title>    
    </head>
    <body>
        <h1>My MadLib Story</h1>
        <% for (var i = 0; i < 10; i++) { %>
            <p>Once upon a time in a land called <%= noun1 %>. It was a <%= adjective1 %> <%= noun2 %>.</p>
        <% } %>
        <p>The End</p>
        <p>ID = <%= id %></p>
    </body>
</html>