<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>
        <form action="/" method="get">
            <label for="myName">Name</label><input type="text" name="myName" /><br />
            <label for="password">Password</label><input type="password" name="pw" />
            <label for="date">Date</label><input type="date" name="date" />
            <input type="hidden" name="price" value="99.99" />
            <button type="submit" />
        </form>
    </body>
</html>
